<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qxun.qlive.goods.mapper.ItemSpecificationMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qxun.qlive.goods.model.ItemSpecification">
        <result column="ID" property="id"></result>
        <result column="CreateTime" property="createTime"></result>
        <result column="ItemID" property="itemID"></result>
        <result column="SpecificationValueID" property="specificationValueID"></result>
        <result column="SpecificationID" property="specificationID"></result>
        <result column="SpecificationTitle" property="specificationTitle"></result>
        <result column="SpecificationContent" property="specificationContent"></result>
        <result column="SortID" property="sortID"></result>
        <result column="SortIDForTitle" property="sortIDForTitle"></result>
        <result column="IsAlibabaSelected" property="isAlibabaSelected"></result>
        <result column="ProductID" property="productID"></result>
    </resultMap>

    <select id="getItemSpecificationList" resultMap="BaseResultMap">
        SELECT [ID]
        , [CreateTime]
        , [ItemID]
        , [SpecificationValueID]
        , [SpecificationID]
        , [SpecificationTitle]
        , [SpecificationContent]
        , [SortID]
        , [SortIDForTitle]
        , [IsAlibabaSelected]
        , [ProductID]
        FROM ItemSpecification
        <where>
            <if test="query.itemIds!=null and query.itemIds.size>0">
                [ItemID] in
                <foreach collection="query.itemIds" open="(" close=")" item="iid" separator=",">
                    #{iid}
                </foreach>
            </if>
        </where>
    </select>
</mapper>