<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qxun.qlive.order.mapper.ProductEvaluationMapper">
    <resultMap id="ProductEvaluationStatisticsMap" type="com.qxun.qlive.order.model.dto.ProductEvaluationStatisticsDTO">
        <result property="favourable_comment_amount" column="favourable_comment_amount"></result>
        <result property="neutral_comment_amount" column="neutral_comment_amount"></result>
        <result property="negative_comment_amount" column="negative_comment_amount"></result>
    </resultMap>
    <select id="getProductEvaluationStatisticsDTO" resultMap="ProductEvaluationStatisticsMap">
        select (select count(*) from [ProductEvaluation] as b
        where BrandCommunityBrandName=#{brandName}
          and Reputation=3) as favourable_comment_amount
            , (
        select count (*)
        from [ProductEvaluation] as c
        where BrandCommunityBrandName=#{brandName}
          and Reputation=2) as neutral_comment_amount
            , (
        select count (*)
        from [ProductEvaluation] as d
        where BrandCommunityBrandName=#{brandName}
          and Reputation=1)
            as negative_comment_amount
    </select>
    <select id="getBrandProductEvaluationStatistics" resultMap="ProductEvaluationStatisticsMap">
        SELECT
        (SELECT COUNT(*) FROM [ProductEvaluation] WHERE BrandCommunityBrandName = #{brand_name} AND Reputation = 3 AND BrandCommunityProductID IS NOT NULL) AS favourable_comment_amount,
        (SELECT COUNT(*) FROM [ProductEvaluation] WHERE BrandCommunityBrandName = #{brand_name} AND Reputation = 2 AND BrandCommunityProductID IS NOT NULL) AS neutral_comment_amount,
        (SELECT COUNT(*) FROM [ProductEvaluation] WHERE BrandCommunityBrandName = #{brand_name} AND Reputation = 1 AND BrandCommunityProductID IS NOT NULL) AS negative_comment_amount
    </select>
    <resultMap id="AdminProductEvaluationDTOMap" type="com.qxun.qlive.goods.model.dto.admin.AdminProductEvaluationDTO">
        <result column="ID" property="id"></result>
        <result column="UserID" property="user_id"></result>
        <result column="UserName" property="user_name"></result>
        <result column="Albums" property="albums"></result>
        <result column="Content" property="content"></result>
        <result column="ItemSpecification" property="item_specification"></result>
        <result column="OrderNumber" property="order_number"></result>
        <result column="Reply" property="reply"></result>
        <result column="CreateTime" property="create_time"></result>
        <result column="Reputation" property="reputation"></result>
        <result column="OrderID" property="order_id"></result>
        <result column="IsSystem" property="is_system"></result>
        <result column="OrderType" property="order_type"></result>
        <result column="IsFromAlibaba" property="is_from_alibaba"></result>
        <result column="IsFromWeApplet" property="is_from_we_applet"></result>
        <result column="StrProductID" property="str_product_id"></result>
        <result column="AkcOrSelfProductID" property="akc_or_self_product_id"></result>
        <result column="BrandCommunityBrandName" property="brand_community_brand_name"></result>
        <result column="IsTop" property="is_top"></result>

        <result column="ProductName" property="product_name"></result>
        <result column="ProductID" property="product_id"></result>
        <result column="ProductMasterImage" property="product_master_image"></result>
    </resultMap>
    <select id="getAdminProductEvaluationDTOList" resultMap="AdminProductEvaluationDTOMap">
        SELECT [Extent1].[ID] AS[ID],
        [Extent1].[UserID] AS [UserID],
        IsNull([Extent1].[NickName],'倩优源用户') AS [UserName],
        [Extent1].[Albums] AS[Albums],
        [Extent1].[Content] AS[Content],
        [Extent2].[ItemSpecification] AS[ItemSpecification],
        IsNull([Extent3].[OrderNumber],'刷的评论无订单号码') AS[OrderNumber],
        [Extent1].[Reply] AS[Reply],
        cast(DATEDIFF(S,'1970-01-01 08:00:00', [Extent1].[CreateTime]) as varchar(20))+'000'
        AS [CreateTime],
        [Extent1].[Reputation] AS[Reputation],
        [Extent1].[OrderID] AS[OrderID],
        [Extent1].[IsSystem] AS[IsSystem],
        [Extent1].[OrderType] AS[OrderType],
        [Extent1].[IsFromAlibaba] AS[IsFromAlibaba],
        [Extent1].[IsFromWeApplet] AS[IsFromWeApplet],
        [Extent1].[BrandCommunityProductID] AS [StrProductID],
        [Extent1].[BrandCommunityProductID] AS [AkcOrSelfProductID],
        [Extent1].[BrandCommunityBrandName]AS[BrandCommunityBrandName],
        [Extent1].[IsTop]AS[IsTop]
        <if test="query.evaluation_type!=null and query.evaluation_type==1">
            ,
            '' AS[ProductName],
            0 AS [ProductID],
            '' AS[ProductMasterImage]
            FROM [ProductEvaluation] AS[Extent1]
            LEFT OUTER JOIN [OrderItem] AS [Extent2] ON [Extent1].[OrderItemID] = [Extent2].[ID] LEFT OUTER JOIN [Order]
            AS [Extent3] ON[Extent1].[OrderID] = [Extent3].[ID]
        </if>
        <if test="query.evaluation_type==null || query.evaluation_type!=1">
            ,
            case when [Extent1].OrderType=11 then [Extent6].[Name] else IsNull([Extent2].[ProductName],[Extent5].[Name])
            end as [ProductName],
            case when [Extent1].OrderType=11 then IsNull([Extent6].[ID],0) else
            IsNull([Extent2].[ProductID],[Extent1].[ProductID]) end as [ProductID],
            case when [Extent1].OrderType=11 then [Extent6].[MasterImage] else
            IsNull([Extent2].[ProductMasterImage],[Extent5].[MasterImage]) end as [ProductMasterImage]
            FROM [ProductEvaluation] AS[Extent1]
            LEFT OUTER JOIN [OrderItem] AS [Extent2] ON [Extent1].[OrderItemID] = [Extent2].[ID]
            LEFT OUTER JOIN [Order] AS [Extent3] ON[Extent1].[OrderID] = [Extent3].[ID]
            LEFT OUTER JOIN [Product] AS [Extent5] ON IsNull([Extent2].[ProductID],[Extent1].[ProductID]) =
            [Extent5].[ID]
            LEFT OUTER JOIN [MCNProduct] AS [Extent6] ON [Extent1].[MCNProductID] = [Extent6].[ID]
        </if>
        <where>

            <if test="query.product_id>0">
                and [Extent1].[ProductID]=#{query.product_id}
            </if>
            <if test="query.product_id==0 and query.order_id>0">
                and [Extent1].[OrderID]=#{query.order_id}
            </if>

            <if test="query.user_id>0">
                and [Extent1].[UserID]=#{query.user_id}
            </if>

            <if test="query.reputation>0">
                and Reputation=#{query.reputation}
            </if>

            <if test="query.begin_time!=null and query.begin_time!='' and query.end_time!=null and query.end_time!=''">
                <![CDATA[ AND #{query.begin_time} <= [Extent1].[CreateTime]
                AND #{query.end_time} >= [Extent1].[CreateTime] ]]>
            </if>

            <if test="query.brand_community_brand_name!=null and query.brand_community_brand_name!=''">
                and [Extent1].[BrandCommunityBrandName] =#{query.brand_community_brand_name}
            </if>

            <if test="query.keyword!=null and query.keyword!='' and query.evaluation_type != 1 and query.evaluation_type != 2">
                and (IsNull([Extent2].[ProductName],[Extent5].[Name]) like '%' + #{query.keyword} + '%' or
                [Extent6].[Name] like '%' + #{query.keyword} + '%')
            </if>
            <if test="query.keyword!=null and query.keyword!='' and (query.evaluation_type == 1 or query.evaluation_type == 2)">
                and (IsNull([Extent2].[ProductName],[Extent5].[Name]) like '%' + #{query.keyword} + '%')
            </if>

            <if test="query.search_order_group_type==1">
                and [Extent1].[IsFromAlibaba]!=1 and [Extent1].[OrderType]!=12 and [Extent1].[OrderType]!=10
            </if>
            <if test="query.search_order_group_type==2">
                and [Extent1].[OrderType]=12
            </if>
            <if test="query.search_order_group_type==3">
                and [Extent1].[OrderType]=10
            </if>
            <if test="query.search_order_group_type==4">
                and [Extent1].[IsFromAlibaba]=1
            </if>

            <if test="query.search_is_system!=null and query.search_is_system==0">
                and [Extent1].[UserID]!=0 and [Extent1].IsSystem=0
            </if>
            <if test="query.search_is_system!=null and query.search_is_system==1">
                and [Extent1].[UserID]=0
            </if>

            <if test="query.search_is_album!=null and query.search_is_album==0">
                and ([Extent1].[Albums]='[]' or [Extent1].[Albums] is null or [Extent1].[Albums]='')
            </if>
            <if test="query.search_is_album!=null and query.search_is_album==1">
                and [Extent1].[Albums]!='[]' and [Extent1].[Albums] is not null and [Extent1].[Albums]!=''
            </if>

        </where>
        ORDER BY [ID] DESC
    </select>

    <resultMap id="ProductEvaluationRateDTOMap" type="com.qxun.qlive.common.base.BaseMapperDTO">
        <result column="Rate" property="rate"></result>
    </resultMap>
    <select id="getProductEvaluationRateDTO" resultMap="ProductEvaluationRateDTOMap">
        SELECT
        cast(
        (SELECT COUNT(*) From [ProductEvaluation]
        <where>
            <if test="query.product_id>0">
                and [ProductID]=#{query.product_id}
            </if>
            <if test="query.reputation>0">
                and [Reputation]=#{query.reputation}
            </if>
            <if test="query.brandCommunity_brand_name!=null and query.brandCommunity_brand_name!=''">
                and [BrandCommunityBrandName]=#{query.brandCommunity_brand_name}
            </if>
        </where>
        )*1./
        (SELECT COUNT(*) From [ProductEvaluation]
        <where>
            <if test="query.product_id>0">
                and [ProductID]=#{query.product_id}
            </if>
            <if test="query.brandCommunity_brand_name!=null and query.brandCommunity_brand_name!=''">
                and [BrandCommunityBrandName]=#{query.brandCommunity_brand_name}
            </if>
        </where>
        )*100 AS decimal(18,2)
        )AS [Rate]
    </select>

    <select id="getFavorityProductEvaluationDTO" resultType="com.qxun.qlive.order.model.dto.FavorityProductEvaluationDTO">
        SELECT
        (SELECT COUNT (*) FROM [ProductEvaluation] AS b WHERE ProductID=#{product_id} AND Reputation=3) AS favourable_comment_amount,
        (SELECT COUNT (*) FROM [ProductEvaluation] AS d WHERE ProductID=#{product_id}) AS all_comment_amount
    </select>

    <resultMap id="EvaluationDTOMap" type="com.qxun.qlive.order.model.dto.EvaluationDTO">
        <result property="product_id" column="product_id"></result>
        <result property="is_system" column="is_system"></result>
        <result property="head_image_url" column="head_image_url"></result>
        <result property="nick_name" column="nick_name"></result>
        <result property="content" column="content"></result>
        <result property="description_tally" column="description_tally"></result>
        <result property="service_attitude" column="service_attitude"></result>
        <result property="delivery_speed" column="delivery_speed"></result>
        <result property="time" column="time"></result>
        <result property="credit" column="credit"></result>
        <result property="albums" column="albums"></result>
        <result property="reputation" column="reputation"></result>
        <result property="order_id" column="order_id"></result>
        <result property="order_item_id" column="order_item_id"></result>
        <result property="reply" column="reply"></result>
    </resultMap>
    <select id="getEvaluationDTOList" resultMap="EvaluationDTOMap">
        SELECT
            [Reply] AS reply,
            [IsSystem] AS is_system,
            [HeadImageUrl] AS head_image_url,
            [NickName] AS nick_name,
            [Content] AS content,
            [CreateTime] AS time,
            [DescriptionTally] AS description_tally,
            [ServiceAttitude] AS service_attitude,
            [DeliverySpeed] AS delivery_speed,
            5 AS credit,
            [albums],
            [Reputation] AS reputation,
            [BrandCommunityProductID] AS product_id,
            [OrderItemID] AS order_item_id,
            [OrderID] AS order_id
        FROM
            [ProductEvaluation]
        WHERE
            BrandCommunityBrandName = #{brand_name}
            AND BrandCommunityProductID IS NOT NULL
            <if test="reputation!=null and reputation!=''">
                AND Reputation = #{reputation}
            </if>
        ORDER BY is_system ASC, time DESC
    </select>

    <resultMap id="ProductEvaluationListDTOMap" type="com.qxun.qlive.order.model.dto.ProductEvaluationListDTO">
        <result column="ID" property="Id"></result>
        <result column="CreateTime" property="createTime"></result>
        <result column="MerchantID" property="merchantID"></result>
        <result column="OrderID" property="orderID"></result>
        <result column="OrderItemID" property="orderItemID"></result>
        <result column="ProductID" property="productID"></result>
        <result column="UserID" property="userID"></result>
        <result column="HeadImageUrl" property="headImageUrl"></result>
        <result column="NickName" property="nickName"></result>
        <result column="Content" property="content"></result>
        <result column="Reply" property="reply"></result>
        <result column="Uses" property="uses"></result>
        <result column="Albums" property="albums"></result>
        <result column="DescriptionTally" property="descriptionTally"></result>
        <result column="ServiceAttitude" property="serviceAttitude"></result>
        <result column="DeliverySpeed" property="deliverySpeed"></result>
        <result column="Reputation" property="reputation"></result>
        <result column="ItemSpecification" property="itemSpecification"></result>
        <result column="MCNProductID" property="mCNProductID"></result>
        <result column="BrandCommunityProductID" property="brandCommunityProductID"></result>
        <result column="BrandCommunityBrandName" property="brandCommunityBrandName"></result>
        <result column="OrderType" property="orderType"></result>
        <result column="IsFromAlibaba" property="isFromAlibaba"></result>
        <result column="IsFromWeApplet" property="isFromWeApplet"></result>
        <result column="IsSystem" property="isSystem"></result>
        <result column="IsTop" property="isTop"></result>
        <result column="AlbumsOrderBy" property="albumsOrderBy"></result>
    </resultMap>
    <select id="getPageList" resultMap="ProductEvaluationListDTOMap">
        SELECT *, CASE Albums WHEN '[]' THEN 0 ELSE 1 END AS AlbumsOrderBy
        FROM [ProductEvaluation]
        <where>
            [ProductID] = #{query.product_id}
            <if test="query.type!=null and query.type>0">
                AND Albums != '[]'
            </if>
            <if test="query.reputation!=null and query.reputation>0">
                AND Reputation = #{query.reputation}
            </if>
        </where>
        ORDER BY
        <if test="query.order_by_albums!=null and query.order_by_albums>0">
            AlbumsOrderBy DESC,
        </if>
        IsSystem ASC, CreateTime DESC, ID DESC
    </select>
</mapper>