<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qxun.qlive.goods.mapper.ProductCategoryRatationMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qxun.qlive.goods.model.ProductCategoryRatation">
        <result column="ID" property="id"></result>
        <result column="CreateTime" property="createTime"></result>
        <result column="RotationChartName" property="rotationChartName"></result>
        <result column="RotationChartSrc" property="rotationChartSrc"></result>
        <result column="RotationChartUrl" property="rotationChartUrl"></result>
        <result column="CheckStatus" property="checkStatus"></result>
        <result column="SortID" property="sortId"></result>
        <result column="CategoryID" property="categoryId"></result>
        <result column="LinkType" property="linkType"></result>
        <result column="SeckillProductID" property="seckillProductId"></result>
        <result column="ProductID" property="productId"></result>
        <result column="GroupBookingProductID" property="groupBookingProductId"></result>
    </resultMap>

    <select id="getProductCategoryRatationList" resultMap="BaseResultMap">
        SELECT [ID]
        , [CreateTime]
        , [RotationChartName]
        , [RotationChartSrc]
        , [RotationChartUrl]
        , [CheckStatus]
        , [SortID]
        , [CategoryID]
        , [LinkType]
        , [SeckillProductID]
        , [ProductID]
        , [GroupBookingProductID]
        FROM ProductCategoryRatation
        <where>

        </where>
    </select>
</mapper>