<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qxun.qlive.goods.mapper.ProductCategoryMapper">
    <!-- 通用查询映射结果 -->
    <!--    <resultMap id="BaseResultMap" type="com.qxun.qlive.goods.model.ProductCategory">-->
    <!--        <result column="ID" property="id"></result>-->
    <!--        <result column="CreateTime" property="createTime"></result>-->
    <!--        <result column="MasterImage" property="masterImage"></result>-->
    <!--        <result column="Title" property="title"></result>-->
    <!--        <result column="ParentID" property="parentId"></result>-->
    <!--        <result column="Layer" property="layer"></result>-->
    <!--        <result column="IsLock" property="isLock"></result>-->
    <!--        <result column="LinkUrl" property="linkUrl"></result>-->
    <!--        <result column="SortID" property="sortId"></result>-->
    <!--        <result column="IsDeleted" property="isDeleted"></result>-->
    <!--        <result column="LinkType" property="linkType"></result>-->
    <!--        <result column="SeckillProductID" property="seckillProductId"></result>-->
    <!--        <result column="ProductID" property="productId"></result>-->
    <!--        <result column="GroupBookingProductID" property="groupBookingProductId"></result>-->
    <!--    </resultMap>-->

    <!--    <select id="getProductCategoryList" resultMap="BaseResultMap">-->
    <!--        SELECT [ID]-->
    <!--        , [CreateTime]-->
    <!--        , [MasterImage]-->
    <!--        , [Title]-->
    <!--        , [ParentID]-->
    <!--        , [Layer]-->
    <!--        , [IsLock]-->
    <!--        , [LinkUrl]-->
    <!--        , [SortID]-->
    <!--        , [IsDeleted]-->
    <!--        , [LinkType]-->
    <!--        , [SeckillProductID]-->
    <!--        , [ProductID]-->
    <!--        , [GroupBookingProductID]-->
    <!--        FROM ProductCategory-->
    <!--        <where>-->

    <!--        </where>-->
    <!--    </select>-->
</mapper>